<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <bean class="uk.org.ponder.springutil.validator.support.MinLengthValidator"/>
  <bean class="uk.org.ponder.springutil.validator.support.MaxLengthValidator"/>
  <bean class="uk.org.ponder.springutil.validator.support.NumericValidator"/>
  <bean class="uk.org.ponder.springutil.validator.support.RequiredValidator"/>
  <bean class="uk.org.ponder.springutil.validator.support.PositiveValidator"/>
  <bean class="uk.org.ponder.springutil.validator.support.NegativeValidator"/>
  <bean class="uk.org.ponder.springutil.validator.support.IntegerValidator"/>
  
</beans>